.section-container {
    border: 2px solid transparent ;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap:3rem;
    width: 85%;
    margin: auto;
    backdrop-filter: blur(24px);
    padding: 0.5rem;
}

.section-container:hover {
    border: 2px solid  var(--accent-main);
}

.section-container img {
    cursor: pointer;
    border-radius: 8px;
}
.section-container a:hover{
    border: none;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-text h1 {
    font-size: 1.8rem;
    font-weight: 500;
}