.footer-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    font-size: 2rem;
}

.footer-container .socials-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.darkmode-btn {
    cursor: pointer;
    position: relative;
    display: inline-block;  
}

.darkmode-btn .tooltiptext {
    visibility: hidden;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.708);
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 0vh;
    right: 2vw;
}
.darkmode-btn:hover .tooltiptext {
    visibility: visible;
  }

  .darkmode-btn a{
    font-size: 2.5rem;
  }
.darkmode-btn a:hover {
    color: black;
}