@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
  background-image: url("./pexels-scottwebb-305821.jpg");
  background-size:cover;
  /* aspect-ratio: 1/1; */
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--font-dark);
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 1rem 2rem 1rem 2rem;

  /* Colors */
  --accent-main: #8CAF6F;
  --font-light: whitesmoke;
  --font-dark: black;
  --bg-dark: black;
  --bg-light: whitesmoke;
  --bg-dark-transparent: rgba(0, 0, 0, 0.708);
}

.darkmode {
  --accent-main: #8CAF6F;
  --font-light: black;
  --font-dark: whitesmoke;
  --bg-dark: whitesmoke;
  --bg-light: black;
  --bg-dark-transparent: rgba(238, 238, 238, 0.708);
  background-image: url("./cosmos-1853491.jpg");
}