/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  /* min-height: 80vh; */
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list-style of ul */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove style of buttons */
button {
  all: unset;
}

/* Highlight links when hovered */
a:hover {
  color: var(--accent-main);
  border-bottom: 2px solid var(--font-dark);
}

/* Bold text */
strong {
  font-weight: bolder;
}